<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nvidiaproj</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="container">
  <%= render 'shared/main_navigation' %>

  <!-- Body -->
  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</div>

</body>
</html>
